<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd" default-lazy-init="true" >

	<description>Shiro Configuration</description>
	
	<!-- 定义授权缓存管理器 -->
	<bean id="shiroCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager" depends-on="cacheManager" >
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
	
	<bean id="sampleRealm" class="com.cobee.admin.modules.sys.security.SampleRealm" >
		<property name="credentialsMatcher" >
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" >
				<property name="hashAlgorithmName" value="SHA-512"></property>
				<property name="hashIterations" value="31"></property>
				<property name="hashSalted" value="true" ></property>
			</bean>
		</property>
	</bean>
	
	<bean id="sampleRealm2" class="com.cobee.admin.modules.sys.security.SampleRealm2" >
		<property name="credentialsMatcher" >
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" >
				<property name="hashAlgorithmName" value="MD5"></property>
				<property name="hashIterations" value="31"></property>
				<property name="hashSalted" value="true" ></property>
			</bean>
		</property>
	</bean>
	
	<!-- 多realm环境下的认证与权限器 -->
	<bean id="modularRealmAuthenticator" class="org.apache.shiro.authc.pam.ModularRealmAuthenticator" >
	</bean>
	
	<!-- shiro的核对象，是整个框架业务功能的实现者 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="cacheManager" ref="shiroCacheManager"/>
        <property name="authenticator" ref="modularRealmAuthenticator" ></property>
        <property name="realms">
        	<list>
				<ref bean="sampleRealm" />
				<ref bean="sampleRealm2" />
			</list>
        </property>
    </bean>
	
	<!-- shiro跟spring容器集成的配置 -->
	<!-- spring容器自动调用shiro对象的生命周期方法，如init()和destroy() -->
	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	
	<!-- 允许在spring容器中的组件使用shiro的注解来检测权限  -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
		<property name="proxyTargetClass" value="true" />
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
    	<property name="securityManager" ref="securityManager"/>
	</bean>
	<!-- shiro跟spring容器集成的配置 -->
	
	<!-- 定义认证过滤器 -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login.html"/>
        <property name="successUrl" value="/"/>
        <property name="unauthorizedUrl" value="/unauthorized"/>
        <property name="filterChainDefinitions">
            <value>
            	/login = anon
            	/doLogin = anon
            	/logout = logout
                /static/** = anon
                /** = authc
            </value>
        </property>
    </bean>
	
</beans>