<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cobee.core.dao.sys.SysOfficeMapper" >
	
	<sql id="orderAndPagingClause" >
		<if test="pageRequest != null and pageRequest.limitClause != null and pageRequest.limitClause != ''">
			<if test="_databaseId == 'mysql'">
<!-- 				${pageRequest.limitClause} -->
			</if>
		</if>
	</sql>
	
	<select id="findAll" resultType="com.cobee.core.entity.sys.SysOffice" >
		SELECT * FROM sys_office
	</select>
	
	<select id="findList" parameterType="Object" resultType="com.cobee.core.entity.sys.SysOffice" >
		SELECT * FROM sys_office a
		<where>
			<trim prefixOverrides="AND">
				<if test="name != null and name != ''">
					AND a.name = #{name}
				</if>
				<if test="sort != null ">
					AND a.sort = #{sort}
				</if>
			</trim>
		</where>
		ORDER BY a.create_date desc
		<include refid="orderAndPagingClause"></include>
	</select>
	
	<update id="update" parameterType="Object">
		update sys_office set del_flag = #{delFlag}
		where id = #{id}
	</update>
	
</mapper>